/* #form {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* background: transparent;
    border-color: firebrick;
  } */
  
  /* .search-container {
    position: relative;
  }
  
  .search-input {
    padding: 12px;
    border: none;
    border-radius: 0;

    outline: none;
    background: transparent;
    color: #fff;
    font-size: large;
    margin: 5vw;
  }
  
  .search-button {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
  } */
